$color_1: #000;
$color_2: #777;
$color_3: #fff;
$font_family_1: 'Lato', sans-serif;
$background_color_1: #fff;
$background_color_2: rgba(0,0,0,0.8);
$border_color_1: #8a8587;
$border_color_2: #000;